/*novedades*/

.fondoN {
    background-size: 100%;

}




.novedad {
    font-size: 40px;
    background-color: rgba(220, 20, 60, 0.384);
    position: absolute;
    bottom: 300px;
    left: 120px;
}